.footer {
  background-color: $bg_gray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px 24px 16px;
  margin: 0;

  @media (min-width: 768px) {
    padding: 0 24px 24px 24px;

  }

  @media (min-width: 1366px) {
    padding: 0 32px 32px 32px;

  }

  &__description {
    font-family: "TTLakes-Regular";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $font;
    margin: 0;
  }

  &__link {
    text-decoration: none;
    color: $font;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 57px;
    border: 2px solid transparent;
    padding: 8px 9px 8px 0;

    &:hover {
      background-color: $bg_white;
      border: 2px solid $link_border;
      border-radius: 6px;
    }

    &:focus {
      background-color: $bg_white;
      border: 2px solid $link_border;
      border-radius: 6px;
    }

    &:active {
      border: 2px solid $font_active;
      color: $font_active;
      border-radius: 6px;
    }
  }

  &__images {
    margin-left: 10px;
  }

  &__container {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: $font_gray;
    opacity: 0.72;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__copyright {
    @media (min-width: 768px) {
      flex: 0 0 30%;
      text-align: left;
    }
  }

  &__politics {
    @media (min-width: 768px) {
      flex: 0 0 30%;
      align-self: flex-start;
    }
  }

  &__information {
    @media (min-width: 768px) {
      flex: 0 0 30%;
      text-align: right;
    }
  }
}
