@font-face {
  font-family: 'TTLakes-Bold';
  src: url(../fonts/TTLakes-Bold.eot) format("eot"),
    url(../fonts/TTLakes-Bold.woff) format("woff"),
    url(../fonts/TTLakes-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'TTLakes-Medium';
  src: url(../fonts/TTLakes-Medium.eot) format("eot"),
    url(../fonts/TTLakes-Medium.woff) format("woff"),
    url(../fonts/TTLakes-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'TTLakes-Regular';
  src: url(../fonts/TTLakes-Regular.eot) format("eot"),
    url(../fonts/TTLakes-Regular.woff) format("woff"),
    url(../fonts/TTLakes-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'TTLakes-Medium';
  font-size: 16px;
  display: flex;
  //justify-content: flex-start;
}
