%for_buttons {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

%for_menu_links {
  font-family: 'TTLakes-Medium';
  font-size: 16px;
  text-decoration: none;
  color: $font;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin: 0;
  padding: 0;
}

%for_form_font {
  font-family: "TTLakes-Medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $font_form;
  height: 48px;
  border: 1px solid $shadow_price;
  border-radius: 8px;
  text-indent: 16px;
}
