$bg_white: #FFFFFF;
$bg_gray: #F8F8F8;
$bg_gradient: lineargradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
$shadow: #D9FFF5;
$link_border: #B8FFEC;
$form_bg: #dcfaf9;


$font_gray: #7E7E82;
$font_active : red;
$font: #1b1c21;
$font_form: #B5B6BC;

$shadow_price: #EAEAEA;