.caption {
  display: none;
  font-family: "TTLakes-Medium";
  font-size: 14px;
  line-height: 16px;
  color: $font_gray;
  opacity: 0.72;

  @media (min-width: 768px) {
    width: 95%;
    height: 60px;
    padding: 0 24px;
    display: flex;
    align-items: center;
  }

  &__services {
    @media (min-width: 768px) {
      flex: 0 0 50%;
    }
  }

  &__price {
    @media (min-width: 768px) {
      flex: 0 0 20%;
    }
  }

  &__time {
    @media (min-width: 768px) {
      flex: 0 0 30%;
    }
  }
}
