.aside-menu {
  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
    row-gap: 20px;
    list-style-type: none;
  }

  &__item {
    margin: 0;
    padding: 0;
    height: 32px;
    position: relative;
    width: 100%;

    &:hover .menu__link {
      color: $font_gray;
    }

    &:active .menu__link {
      color: $font_active;
    }
  }

  &__link {
    display: block;
    height: 32px;
    line-height: 32px;
    @extend %for_menu_links;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/highlight.svg");
      width: 4px;
      height: 32px;
      left: -8.5%;
      opacity: 0;
    }

    &:hover::before {
      opacity: 1;
      transition: opacity 0.5s ease-in;
    }

    &:focus {
      color: $font_gray;
    }

    &:focus::before {
      opacity: 1;
      transition: opacity 0.5s ease-in;
    }
  }
}
